
<header>
    <div class="header-content">
        <h1>Manufacturing & Automation</h1>
        <p>All Types of Manufacturing and Automation Works</p>
    </div>
</header>

<section class="content">
    <div class="image">
        <img src="assets/images/Automation_Manufacturing.jpg" alt="Manufacturing">
    </div>
    <div class="description">
        <ul>
            <li>We at Adroit-Tech are committed to providing Automation and Manufacturing solutions to create a
                better world.</li>
            <li>Making manufacturing easy with the use of the latest technology and control, which helps monitor and
                control the production and delivery of products and services.</li>
        </ul>
    </div>
</section>