
<header>
    <div class="header-content">
        <h1>About Us</h1>
    </div>
</header>
 <p class="about-text">
    Adroit-Tech Enterprises was established in the year 2020 with aim of providing complete automation and manufacturing solutions under one roof. We at Adroit-Tech are committed for providing Automation and Manufacturing solutions to create a better world. Our customer-centric approach has always developed and delivers quality products to meet customer requirements.
  </p>

  <div class="vision-mission-container">
    <div class="left-section">
      <div class="vision-box">Vision</div>
      <div class="mission-box">Mission</div>
    </div>
    <div class="right-section">
      <div class="vision-text">
        To Provide Automation & Technology solutions to the industry and achieve sustainable growth
      </div>
      <div class="mission-text">
        Customer Satisfaction by providing Products and Services to Industry
      </div>
    </div>
    
  </div>
  <div>
     <h2 class="core-title">Core Values</h2>
      <div class="logo-section">
    <img src="assets/images/core_value.png" alt="Adroit-Tech Logo">
  </div>
  </div>