<!-- Top dark header with logo on left, links on right -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<mat-toolbar class="logo-bar">
    <div class="toolbar-content">
        <img src="assets/images/logo.jpg" class="logo-img" alt="Logo">
        <span class="spacer"></span>
        <nav class="nav-links">
            <a mat-button routerLink="/career">Career</a>
            <a mat-button routerLink="/blogs">Blogs</a>
            <a mat-button routerLink="/rfq">RFQ</a>
        </nav>
    </div>
</mat-toolbar>


<!-- Orange nav bar with centered links -->
<mat-toolbar class="orange-nav">
    <a mat-button routerLink="/">Home</a>
    <a mat-button routerLink="/about">About Us</a>
    <!-- Engineering Services Dropdown -->
  <button mat-button [matMenuTriggerFor]="menu">Engineering Services</button>
  
  <!-- Dropdown Menu -->
  <mat-menu #menu="matMenu" class="dropdown-menu">
    <mat-list class="formate">
      <mat-list-item routerLink="/manufacturing-automation">Manufacturing and Automation</mat-list-item>
      <mat-list-item routerLink="/jigs-fixture">Jigs & Fixtures</mat-list-item>
      <mat-list-item routerLink="/fabrication-structural">Fabrication Work & Structural Design</mat-list-item>
      <mat-list-item routerLink="/cad-reverse-engineering">3D CAD Modelling & Reverse Engineering</mat-list-item>
      <mat-list-item routerLink="/plc-control-panel">PLC Programming & Control Panel</mat-list-item>
    </mat-list>
  </mat-menu>

    <a mat-button routerLink="/contact-us">Contact Us</a>
</mat-toolbar>

<router-outlet></router-outlet>
<!-- FOOTER SECTION -->
<footer class="footer-section">
    <div class="footer-container">
        <div class="footer-column">
            <h3>Our Services</h3>
            <a mat-button routerLink="/design">Design Services</a>
            <a mat-button routerLink="/robotics">Robotic Simulation</a>
            <a mat-button routerLink="/analysis">Simulation & Analysis</a>
        </div>

        <div class="footer-column">
            <h3>Company</h3>
            <a mat-button routerLink="/career">Career</a>
            <a mat-button routerLink="/blogs">Blogs</a>
            <a mat-button routerLink="/rfq">RFQ</a>
        </div>
        <div class="footer-right">
            <div class="footer-column">
                <div class="social">
                    <p>Follow Us On</p>
                    <div class="icons">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>

                    <a mat-button href="#">Privacy Policy</a>
                </div>
            </div>
        </div>

        <div class="footer-column">
            <h3>Subscribe For Updates</h3>
            <mat-form-field appearance="fill">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="Your Name" />
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Email Address</mat-label>
                <input matInput placeholder="yourname@company.com" />
            </mat-form-field>

            <button mat-raised-button color="primary" class="subscribe-btn">Subscribe</button>
        </div>
    </div>

    <div class="footer-bottom">
        COPYRIGHT © Precision Dynamics Technology Pvt Ltd
    </div>
</footer>