
<header>
    <div class="header-content">
        <h1>PLC Programming Control Panel</h1>
    </div>
</header>

<section class="content">
    <div class="image">
        <img src="assets/images/PLC_HMI_Programming_troubleshooting.png" alt="Manufacturing">
    </div>
    <div class="description">
        <ul>
            <li>We at Adroit-Tech are committed for providing Programming of all PLC & HMI systems</li>
            <li>Programming of all PLC & HMI systems with latest tools along with site support in installation and commissioning</li>
            <li>Supply of PLC panels as per customer requirements & preference, such as stand-alone type panels, workstation type, desk type panels etc.</li>
        </ul>
    </div>
</section>