
<header>
    <div class="header-content">
        <h1>Fabrication Work Structural Design</h1>
    </div>
</header>

<section class="content">
    <div class="image">
        <img src="assets/images/Fabrication_and_Structure_Design.jpg" alt="Manufacturing">
    </div>
    <div class="description">
        <ul>
            <li>We at Adroit-Tech are committed for providing Structural design of manufacturing facility and workshops</li>
            <li>Structural design of manufacturing facility and workshops</li>
             <li>All types of Industrial Fabrication design and installation</li>
        </ul>
    </div>
</section>