
<!-- Welcome Section -->
<div class="hero-section">
    <div class="hero-image">
        <img src="assets/images/technology.avif" alt="Engineering Workstation" />
    </div>
    <div class="hero-text">
        <h3>Welcome To</h3>
        <h1>Precision Dynamics Technology</h1>
        <h3>Your Trusted Partner in Mechanical Engineering Services</h3>
        <p>
            Mechanical engineering and robotics simulation are at the core of innovation in today’s automotive and
            industrial sectors. When you think of engineering services, what comes to mind? <strong>Perfection.</strong>
            That’s exactly what we deliver.
            <br /><br />
            At <strong>Precision Dynamics Technology</strong>, we are dedicated to providing high-quality mechanical
            design, engineering, and simulation solutions that empower OEMs and businesses to innovate and grow without
            obstacles.
            <br /><br />
            Our team brings together precision, expertise, creativity, and dedication to craft engineering solutions
            that are both powerful and efficient. Whether it's mechanical design or advanced robotics simulation, we are
            here to exceed your expectations.
            <br /><br />
            Partner with <strong>Precision Dynamics Technology</strong>, and let’s build the future—together.
        </p>
    </div>
</div>

<section class="services-section">
  <h2 class="services-title">SERVICES</h2>
    <div class="service-grid">
      <div class="service-card">
        <mat-icon class="service-icon">factory</mat-icon>
        <mat-card-title class="topload">
          <a routerLink="/manufacturing-automation">Manufacturing and Automation</a>
        </mat-card-title>
        <mat-card-content class="parag">
          Making manufacturing easy with use of latest technology and control which helps to monitor and control the production and delivery of products and services.
        </mat-card-content>
      </div>

      <div class="service-card">
        <mat-icon class="service-icon">build</mat-icon>
        <mat-card-title class="topload">
          <a routerLink="/jigs-fixture">Jigs & Fixtures</a>
        </mat-card-title>
        <mat-card-content class="parag">
          Design and development of Jigs and Fixtures to ensure repeatability, accuracy, and interchangeability for assembling large numbers of products/parts.
        </mat-card-content>
      </div>

      <div class="service-card">
        <mat-icon class="service-icon">engineering</mat-icon>
        <mat-card-title class="topload">
          <a routerLink="/fabrication-structural">Fabrication Work & Structural Design</a>
        </mat-card-title>
        <mat-card-content class="parag">
          Structural design of manufacturing facilities and workshops. All types of industrial fabrication design and installation.
        </mat-card-content>
      </div>

      <div class="service-card">
        <mat-icon class="service-icon">view_in_ar</mat-icon>
        <mat-card-title class="topload">
          <a routerLink="/cad-reverse-engineering">3D CAD Modelling & Reverse Engineering</a>
        </mat-card-title>
        <mat-card-content class="parag">
          Scanning of products for benchmarking and prototyping. 2D & 3D CAD modelling using latest tools.
        </mat-card-content>
      </div>

      <div class="service-cardlast">
        <mat-icon class="service-icon">code</mat-icon>
        <mat-card-title class="topload">
          <a routerLink="/plc-control-panel">PLC Programming & Control Panel</a>
        </mat-card-title>
        <mat-card-content class="parag">
          Programming of PLC & HMI systems with the latest tools. Site support in installation and commissioning.
        </mat-card-content>
      </div>
  </div>
</section>

